@import "tailwindcss";

@theme {
    --font-display: "Satoshi", "sans-serif";
    --color-text: #011213;
    --color-background: #edfefe;
    --color-primary: #22e7f0;
    --color-secondary: #e57cf6;
    --color-accent: #f34ba1;
  }
