@import "tailwindcss";

@theme {
    --font-display: "Satoshi", "sans-serif";
    --color-text: #10140e;
    --color-background: #fbfcfb;
    --color-primary: #72986a;
    --color-secondary: #aec7c1;
    --color-accent: #87acac;

  }
